<div class="row">
	<div class="twelve columns">
		<p><img src="/images/engagement photo.jpg" alt="Gwen and Woody's engagement photo"></p>
		<p>Additional information about lodging, activities, and schedule coming soon!</p>
	</div>
</div>
