<div class="row">
	<div class="eight columns">
        <h2>Where to stay?</h2>
        <p class="lead">Here are some nearby lodging options:</p>
        <ul id="lodging">
            {{#lodgings}}
            <li>
                <h4><a href="{{website}}" target="_blank">{{name}}</a></h4>
                <p>{{comment}}</p>
                <div>
                    <span class="address"><a href="http://maps.google.com/?{{&map}}" target="_blank">{{address}}</a></span> /
                    <span class="telephone">{{telephone}}</span>
                </div>
            </li>
            {{/lodgings}}
            <li class="others"><em>There are <a href="http://maps.google.com/?q=lodging+near+55604" target="_blank">many other lodging options</a>, these are just a few choices.</em></li>
        </ul>
        <p>Please be aware that September is part of our tourist season, so make your lodging arrangements as soon as possible!</p>

        <h3>What to do?</h3>
        <p class="lead">There are many recreational activities in the area, including: golf, kayaking, canoeing, hiking, sailboat tours, mountain biking, and swimming. Call one of us if you have questions about anything specific you would like to do.</p>
        <p>Gwen's mother, Virginia, will be organizing a hike in Hovland on Sunday. Please let us know if you are interested in participating.</p>
       <p>Unfortunately, we cannot guarantee that you will see a moose.</p>
	</div>
    <div class="four columns">
        {{#sent}}
        <h2>RSVP Sent!</h2>
        <p>If you have any questions, please call Gwen at 218-370-9862 or Woody at 218-461-0465.</p>
        {{/sent}}
        {{^sent}}
        <h2>RVSP Here!</h2>
        <form id="rsvp" action method="post">
            <dl>
                <dt>Your name?</h2>
                <dd><input type="text" name="your_name" value="{{post.your_name}}" placeholder="John Doe" /></dd>
                {{#errors.your_name}}
                <dd class="error">{{errors.your_name}}</dd>
                {{/errors.your_name}}

                <dt>Email address?</dt>
                <dd><input type="email" name="email_address" value="{{post.email_address}}" placeholder="you@example.com" /></dd>
                {{#errors.email_address}}
                <dd class="error">{{errors.email_address}}</dd>
                {{/errors.email_address}}

                <dt>How many guests, including yourself?</dt>
                <dd>
                    <input type="number" name="total_guests" min="0" max="10" value="{{post.total_guests}}" placeholder="0" />
                    <span class="or">/</span>
                    <label class="inline">
                        <input type="checkbox" name="not_attending" value="yes" {{#post.not_attending}}checked {{/post.not_attending}} />
                        Sorry, I can't make it!
                    </label>
                </dd>
                {{#errors.total_guests}}
                <dd class="error">{{errors.total_guests}}</dd>
                {{/errors.total_guests}}
                {{#errors.not_attending}}
                <dd class="error">{{errors.not_attending}}</dd>
                {{/errors.not_attending}}
                <dd class="help">We need a maximum guest count, so include anyone that might be attending, even if they decide not to come.</dd>

                <dd class="submit"><button class="small black nice button" type="submit">Send</button></dd>
            </dl>
        </form>
        {{/sent}}
        <h3>The Night Before</h3>
        <p class="lead">We are planning on having dinner and drinks with all of the visiting guests that are in town the night of September 21<sup>st</sup>. Dinner will start around 7pm, most likely at <a href="http://svenandoles.com/">Sven &amp; Ole's Pizza</a>, with drinks to follow at <a href="http://www.gunflinttavern.com/">Gun Flint Tavern</a>.</p>

        <h3>See you soon!</h3>
        <p class="text-center"><img src="/images/engagement photo.jpg" alt="Gwen and Woody's engagement photo" /></p>
    </div>
</div>
