/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html {
	font-size: 80%;
}

sup, sub {
	font-size: 0.75em;
}
sup {
	vertical-align: top;
	margin-top: -0.5em;
}
sub {
	vertical-align: bottom;
	margin-bottom: -0.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Quattrocento, Georiga, Times, serif;
}

img.pad {
	margin: 0.5em;
	border: solid 0.8em #efefef;
	border-radius: 0.2em;
}

form dl dt {
    margin-top: 0.5em;
    font-weight: bold;
}
form dl dd.help,
form dl dd.error {
    margin-top: 0.2em;
    color: #999;
}
form dl dd.error {
    color: #911;
}
form dl dd.submit {
    margin-top: 1em;
    text-align: right;
}
form dl input[type="text"],
form dl input[type="tel"],
form dl input[type="email"],
form dl textarea,
form dl select {
    width: 100%;
    _width: 98%;
    box-sizing: border-box;
}

.twelve {
	text-align: center;
}

#header .row, #footer .row {
	padding-top: 1em;
	padding-bottom: 1em;
}
#header .row {
	margin-bottom: 1em;
	border-bottom: solid 1px #ddd;
}
#footer .row {
	margin-top: 1em;
	border-top: solid 1px #ddd;
	color: #999;
}
#footer .row p {
	font-size: 0.75em;
}

/* -----------------------------------------
   Home
----------------------------------------- */
ul#lodging li.others {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: solid 1px #ddd;
}
form#rsvp label {
    display: inline-block;
}
form#rsvp span.or {
    display: inline-block;
    padding: 0 0.3em;
    color: #999;
}

